
body {
	background: #291c4b;
}
.wrap{
	overflow: hidden;
	max-width: 800px;
    font: normal 16px "Open Sans", Arial;
    line-height: normal;
    font-family: "Open Sans", Arial;
    line-height: 24px;
    color: #ff0404;
    margin: auto;
}

.tail-aircutter-flip {
    transform: scale(-1,1);
}

.place {
    fill: #FFFFFF;
    opacity: 60%;
    stroke:#A4C2EC;
    
}
.place:hover {
    stroke: #eccea4;
}

.place-disabled {
   stroke: #CCCCCC;;
   fill: white;
    
}


.place-cost, .place-currency {
	font-size: 14px;
	stroke-width: 1px;
	letter-spacing: 1.1px;
   
    fill: #FFFFFF;
    
    
}

.place-currency{
	font-size: 10px;
}
